In [2]:
import pandas as pd
import sqlite3
import json
conn = sqlite3.connect('usda.db')
solutions = {}

### Start Here: Querying and writing to the database
Here's how to execute a SQL query against the database (returns a Pandas dataframe):

In [ ]:
sql = """

"""
pd.read_sql_query(sql, conn)

You can overwrite a table (here we're showing how to overwrite `composition`) in the database with an existing dataframe like this:

In [ ]:
df.to_sql(name='composition', con=conn, if_exists='replace', index=False)

### Q1. Standardize the composition table
Using the `units` and `conversion` mapping tables, standardize the `composition` table to gram measurements. You may use Python or SQL.

**Please overwrite the `composition` table with your completed, standardized table (see README for instructions) for use in the following questions.**

### Q2. Using SQL, find the top 5 foods by total vitamin content

In [ ]:
sql = """

"""
pd.read_sql_query(sql, conn)

#### Replace the `None` with your answer. Your answer should be a list of strings.

In [ ]:
solutions['q2'] = None

### Q3. Using SQL, find the average `sugar_tot` and `lipid_tot` of products containing the words "ice cream"

In [ ]:
sql = """

"""
pd.read_sql_query(sql, conn)

#### Replace each `None` with your answers. Your answers should be floats, rounded to two decimal places.

In [ ]:
solutions['q3'] = {
    'sugar_tot': None,
    'lipid_tot': None
}

### Q4. List all foods with more than 10 g of sodium in descending order by sodium content
You may use Python or SQL, but **bonus points for using Pandas** to solve this question.

#### Replace the `None` with your answer. Your answer should be a list of strings.

In [ ]:
solutions['q4'] = None

### Q5. Generate a list of numbers by applying the below logic to the integers from 0 to 20
Modify each number based on the following logic:
- If the number is is less than 3, make no change to the number
- Otherwise, if the number is even and not equal to 5 or 6:
    - If the number is greater than or equal to 16, add 1 to the number
    - Otherwise, multiply the number by 2
- Otherwise, subtract 1 from the number

#### Replace the `None` with your answer. Your answer should be a list of integers.

In [ ]:
solutions['q5'] = None

### Run this cell to export your solutions to the grading file

In [ ]:
with open('solutions.json', 'w+') as f:
    json.dump(solutions, f)